.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.coreskills-box {
  border: 1px solid #7db9e5;
  margin: 100px 0 0;
  text-align: center;
  padding-bottom: 20px;
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  text-align: left;
  padding-bottom: 50px
}



.coreskills-box__core-col {
  line-height: 2rem;
  width: 260px;
  margin: 40px 30px;
  font-size: .9rem
}




.coreskills-box__core-col p {
  margin-bottom: 30px;
  /* font-size: 1rem */
    font-size: .9rem;
    line-height: 2;
}




h1 {
  font-size: 1.5rem
}


i {
  color: #1b2fe9
}
.skill {
  line-height: 2;
  list-style: none
}

ul{
  /* margin-left: 0 !important; */
  padding: 0;
  list-style-type: none;

}

