
.tag{
  /* background: blue; */
  color: white;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 10px;
  margin-top:10px;
}


p.tag:not([first]){
  margin-left: 6px;
}

p.projectRole{
  /* line-height: 1.3; */
}
