
.tag{
  /* background: blue; */
  color: white;
  display: inline-block;
  padding: 7px 10px 7px 10px;
  border-radius: 3px;
  font-size: 10px;
  margin-top:10px;
}


p.tag:not([first]){
  margin-left: 6px;
}

p.projectRole{
  /* line-height: 1.3; */
}
